@import url("https://fonts.googleapis.com/css2?family=Galada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  font-family: "Roboto", sans-serif;
}

#tsparticles {
  max-width: 100vw;
  max-height: 100vh;
}

body {
  width: 100vw;
  height: 10vh;
}

.error-message {
  color: red;
}

.colorfulBg {
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
}

.login-container {
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
  position: relative;
  height: 100vh;
}

.form-login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.1);
  width: 45vw;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input {
  margin: 0 0 1.5rem 0;
  border-radius: 5px;
  height: 2rem;
  width: 20rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 0.5rem;
  color: #683a38;
}

.input:focus {
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

h1 {
  color: white;
  font-size: 3em;
  font-family: "Galada", cursive;
}

.hello {
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.button {
  width: 6rem;
  border-radius: 5px;
  border: none;
  background: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 1rem;
  height: 2rem;
  color: #683a38;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.button:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.header-container {
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
  position: relative;
  height: 10vh;
  top: 0;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.content-header-container {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
}

header {
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hello-profile {
  margin: 0 1rem 0 1rem;
  color: white;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}

.list-container {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-list-card {
  max-width: 30vw;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  height: auto;
  margin: 1.5rem;
  min-width: 20vw;
  /*width: 30vw;*/
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-icon {
  color: white;
  font-size: 2em;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.list-header {
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 5vh;
}

.list-header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.list-title {
  color: white;
  margin: 0.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-left: 0.5rem;
}

.list-content {
  /*display: flex;
  flex-direction: column;*/
  position: relative;
}

.list-button {
  font-size: 1em;
  width: 3.5rem;
}

.add-item-button {
  background-color: #faaca8;
  background-image: linear-gradient(199deg, #faaca8 0%, #ddd6f3 100%);
  color: white;
  font-weight: 400;
  margin: 0;
}

.add-item-button:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(221, 214, 243, 0.5);
          box-shadow: 0px 0px 20px rgba(221, 214, 243, 0.5);
}

.loading-style {
  color: #faaca8;
  font-size: 5em;
}

.header-button {
  width: 10em;
}

.list-container-title {
  background: -webkit-linear-gradient(199deg, #faaca8 0%, #ddd6f3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 20px rgba(206, 203, 212, 0.5);
  text-align: center;
}

.select-add-list {
  margin: 0 0 1rem 0;
}

.text-modal {
  color: white;
  margin-bottom: 0.5rem;
}

.modal-title {
  color: white;
  text-transform: uppercase;
}

.tag {
  border-radius: 5px;
  border: none;
  background: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0.5rem 0.5rem 0.5rem 0;
  color: #683a38;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: small;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}

.tagInput {
  margin-top: 1rem;
}

.selected {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.tags {
  max-width: 100%;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
}

.removeTag {
  color: red;
  margin: 0.2rem;
  font-size: 1.1em;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0.3rem;
}

.item {
  margin: 0.2rem 0 0 0.2rem;
}

input[type="radio"] {
  border: 1px solid #faaca8;
}

input[type="radio"]:checked:before {
  content: "";
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #faaca8;
}

.MuiDialog-paper {
  width: 40vw;
}

.input-new-list {
  width: 36vw;
}
