@import url("https://fonts.googleapis.com/css2?family=Galada&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

.error-message {
  color: red;
}

.login-container {
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
  position: relative;
  height: 100vh;
}

.form-login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.1);
  width: 45vw;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input {
  margin: 0 0 1.5rem 0;
  border-radius: 5px;
  height: 2rem;
  width: 20rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 0.5rem;
  color: #683a38;
}

.input:focus {
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 3em;
  font-family: "Galada", cursive;
}

.hello {
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.login-button {
  width: 6rem;
  border-radius: 5px;
  border: none;
  background: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 1rem;
  height: 2rem;
  color: #683a38;
}

.login-button:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.header-container {
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
  position: relative;
  height: 10vh;
  top: 0;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.content-header-container {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
}

header {
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hello-profile {
  margin: 0 1rem 0 1rem;
  color: white;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}

.list-container {
  margin: 1rem;
}

.container-list-card {
  max-width: 30vw;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  height: auto;
}

.list-header {
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 5vh;
}

.list-header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.list-title {
  color: white;
  margin: 0.3rem;
}
