@import url("https://fonts.googleapis.com/css2?family=Galada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

#tsparticles,
.tsparticles-canvas-el {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

body,
#root {
  width: 100vw;
  height: 100vh;
}

.error-message {
  color: red;
}

.select-list-text {
  color: #9fe3ff;
  text-shadow: 0 0 20px rgba(159, 227, 255, 0.4);
}

.colorfulBg {
  background-color: #ffb1db;
  background-image: radial-gradient(circle at top right, #ffb1db, transparent), radial-gradient(circle at bottom left, #9fe3ff, transparent);
}

.login-container {
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #ffb1db 0%, #9fe3ff 100%);
  position: relative;
  height: 100vh;
}

.form-login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.1);
  width: 45vw;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  margin: 0 0 1.5rem 0;
  border-radius: 5px;
  height: 2rem;
  width: 20rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 0.5rem;
  color: #683a38;
}

.input:focus {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

h1 {
  color: white;
  font-size: 3em;
  font-family: "Galada", cursive;
}

.hello {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.button {
  border-radius: 5px;
  border: none;
  background: rgba(255, 255, 255, 0.4);
  margin: 1rem;
  height: 2rem;
  color: #683a38;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.button-list {
  background: rgba(159, 227, 255, 0.4);
}

.button:hover {
  box-shadow: 0 0 20px rgba(159, 227, 255, 0.4);
  transition: box-shadow 0.3s ease-in-out;
}

.button-list:hover {
  box-shadow: 0 0 20px rgba(159, 227, 255, 0.4);
  transition: box-shadow 0.3s ease-in-out;
}

.header-icon:hover {
  filter: drop-shadow(0 0 5px #9fe3ff);
  transition: drop-shadow 0.3s ease-in-out;
}

.button-inside-td {
  width: 6rem;
  margin: 0 5rem 0 5rem;
}

.delete-button {
  background: rgba(231, 165, 171, 0.4);
}

.delete-button:hover {
  box-shadow: 0 0 20px rgba(231, 165, 171, 0.4);
  transition: box-shadow 0.3s ease-in-out;
}

.header-container {
  background-color: #ffb1db;
  background-image: radial-gradient(circle at top right, #ffb1db, transparent), radial-gradient(circle at bottom left, #9fe3ff, transparent);
  position: relative;
  height: 10vh;
  top: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.content-header-container {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
}

header {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hello-profile {
  margin: 0 1rem 0 1rem;
  color: white;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}

.list-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.container-list-card {
  max-width: 30vw;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  height: auto;
  margin: 1.5rem;
  min-width: 20vw;
}

.list-container-row {
  width: 100%;
  max-width: 100vw;
  margin: 2em auto;
}

/*
.list-columns {
  -moz-column-count: 3;
  -moz-column-gap: 3%;
  -moz-column-width: calc(100vw / 3);
  -webkit-column-count: 3;
  -webkit-column-gap: 3%;
  -webkit-column-width: calc(100vw / 3);
  column-count: 3;
  column-gap: 3%;
  column-width: calc(100vw / 3);
  break-inside: avoid;
}

.card {
  margin: 0;
  -webkit-column-break-inside: avoid;  Chrome, Safari
  page-break-inside: avoid;  Theoretically FF 20+
  break-inside: avoid-column; IE 11
  display: table;
}*/
.header-right {
  display: flex;
  align-items: center;
}

.header-icon {
  color: white;
  font-size: 2em;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.list-header {
  background-color: #ffb1db;
  background-image: radial-gradient(circle at top right, #ffb1db, transparent), radial-gradient(circle at bottom left, #9fe3ff, transparent);
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 5vh;
}

.list-header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.list-title {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0.3rem 0.3rem 0.3rem 0.5rem;
}

.category-name-in-list {
  font-family: "Work Sans", sans-serif;
  font-weight: lighter;
  margin: 0.5rem;
  padding: 0.3rem;
  letter-spacing: 1.5px;
  background-image: radial-gradient(circle at top right, rgba(255, 177, 219, 0.4), transparent), radial-gradient(circle at bottom left, rgba(159, 227, 255, 0.4), transparent);
  border-radius: 5px;
}

#display-list ul:not(:first-child) .category-name-display {
  border-top: 2px solid;
  border-image-slice: 1;
  border-image-source: radial-gradient(circle at top right, rgba(255, 177, 219, 0.4), transparent), radial-gradient(circle at bottom left, rgba(159, 227, 255, 0.4), transparent);
}

.category-name-in-homepage {
  background-image: radial-gradient(circle at top right, rgba(159, 227, 255, 0.4), transparent), radial-gradient(circle at bottom left, rgba(255, 177, 219, 0.4), transparent);
}

.list-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 auto;
}

.list-items {
  max-height: 30vh;
}

.single-item-in-list {
  margin-bottom: 0.25rem;
}

table {
  width: 100%;
}

.inside-td {
  text-align: left;
}

.scroll-items {
  overflow-y: scroll;
  margin: 0.5rem;
}

.scroll-items::-webkit-scrollbar {
  width: 4px;
}

.scroll-items::-webkit-scrollbar-track {
  background: #f3f3f344;
  border-radius: 10px;
}

/* Handle */
.scroll-items::-webkit-scrollbar-thumb {
  background: #9fe3ff;
  border-radius: 10px;
}

/* Handle on hover */
.scroll-items::-webkit-scrollbar-thumb:hover {
  background: #613b80;
  border-radius: 10px;
}

.list-button {
  font-size: 1em;
  width: 3.5rem;
}

.add-item-button {
  background-color: #ffb1db;
  background-image: radial-gradient(circle at bottom left, #9fe3ff, transparent), radial-gradient(circle at top right, #ffb1db, transparent);
  color: white;
  font-weight: 400;
  align-self: flex-end;
}

.add-item-button:hover {
  box-shadow: 0 0 20px rgba(159, 227, 255, 0.4);
  transition: box-shadow 0.3s ease-in-out;
}

.loading-style {
  color: #ffb1db;
  font-size: 5em;
}

.header-button {
  width: 13em;
}

.list-container-title {
  background: -webkit-radial-gradient(circle at top left, #9fe3ff, transparent), radial-gradient(circle at bottom right, #ffb1db, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 20px rgba(206, 203, 212, 0.5);
  text-align: center;
}

.select-add-list {
  margin: 0 0 1rem 0;
}

.text-modal {
  color: white;
  margin-bottom: 0.5rem;
}

.modal-title {
  color: white;
  text-transform: uppercase;
}

.tag {
  border-radius: 5px;
  border: none;
  background: rgba(255, 255, 255, 0.4);
  color: #683a38;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: small;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 1.5rem 0;
}

.tagInput {
  margin-top: 1rem;
}

.selected {
  max-width: 500px;
  display: flex;
  flex-flow: row wrap;
}

.tags {
  max-width: 100%;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
}

.removeTag {
  color: red;
  margin: 0.2rem;
  font-size: 1.1em;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0.3rem;
}

.item {
  margin: 0.2rem 0 0 0.2rem;
}

input[type=radio] {
  border: 1px solid #ffb1db;
}

input[type=radio]:checked:before {
  content: "";
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffb1db;
}

.MuiDialog-paper {
  width: 40vw;
}

.input-new-list,
.select-add-list,
.input-new-item {
  width: 100%;
}

.input-new-item {
  margin: 0;
}

.input-description {
  height: 7vh;
  margin-bottom: 1.5rem;
}

.menu-items {
  max-height: 50%;
}

.menu-lists {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  height: 85vh;
}

.menu-lists-container {
  height: 100%;
  border-radius: 10px;
  max-width: 25vw;
}

.menu-list-name {
  margin: 0 0 0.3rem 0;
  max-width: 20vw;
}

.menu-list-name:hover {
  cursor: pointer;
}

.category-name-homepage {
  width: 75vw;
}

.list-name-homepage {
  color: #8377a6;
  font-family: "Galada", cursive;
  letter-spacing: normal;
  padding-left: 1rem;
  font-size: 1.9em;
}

.category-name-display {
  padding-top: 1rem;
  font-size: 1.5em;
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}

.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #9fe3ff;
  filter: drop-shadow(0 0 5px #9fe3ff);
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #9fe3ff;
  filter: drop-shadow(0 0 5px #9fe3ff);
}

.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
.select-manage-categories {
  margin: 0 1rem 0 1rem;
}

.MuiDialogContent-root {
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
