@import url("https://fonts.googleapis.com/css2?family=Galada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400&display=swap");
* {
  box-sizing: border-box;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-family: "Roboto", sans-serif;
}
#tsparticles,
.tsparticles-canvas-el {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

body,
#root {
  width: 100vw;
  height: 100vh;
}
.error-message {
  color: red;
}

.colorfulBg {
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
}

.login-container {
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
  position: relative;
  height: 100vh;
}
.form-login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.1);
  width: 45vw;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  margin: 0 0 1.5rem 0;
  border-radius: 5px;
  height: 2rem;
  width: 20rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 0.5rem;
  color: #683a38;
}

.input:focus {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 3em;
  font-family: "Galada", cursive;
}

.hello {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.button {
  width: 6rem;
  border-radius: 5px;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  margin: 1rem;
  height: 2rem;
  color: #683a38;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.button:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.header-container {
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
  position: relative;
  height: 10vh;
  top: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.content-header-container {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
}
header {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hello-profile {
  margin: 0 1rem 0 1rem;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}
.list-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
.cards {
  display: flex;
  flex-wrap: wrap;

}

.container-list-card {
  max-width: 30vw;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  height: auto;
  margin: 1.5rem;
  min-width: 20vw;
}

.list-container-row {
  width: 100%;
  max-width: 100vw;
  margin: 2em auto;
}

.list-columns {
  -moz-column-count: 3;
  -moz-column-gap: 3%;
  -moz-column-width: calc(100vw/3);
  -webkit-column-count: 3;
  -webkit-column-gap: 3%;
  -webkit-column-width: calc(100vw/3);
  column-count: 3;
  column-gap: 3%;
  column-width: calc(100vw/3);
  break-inside: avoid;

}

.card {
  margin: 0;
  -webkit-column-break-inside: avoid; /* Chrome, Safari */
  page-break-inside: avoid; /* Theoretically FF 20+ */
  break-inside: avoid-column; /* IE 11 */
  display: table;
}

.header-right {
  display: flex;
  align-items: center;
}
.header-icon {
  color: white;
  font-size: 2em;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.list-header {
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 5vh;
}
.list-header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.list-title {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0.3rem 0.3rem 0.3rem 0.5rem;
}
.category-name-in-list {
  font-family: "Fira Sans", sans-serif;
  margin: 0.5rem;
  padding: 0.3rem;
  letter-spacing: 1.5px;
  //background-color: #faaca8;
  background-image: linear-gradient(
    19deg,
    rgba(250, 172, 168, 0.4) 0%,
    rgba(221, 214, 243, 0.4) 100%
  );
  border-radius: 5px;
}

.list-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 auto;
}

.scroll-items {
  //height: 50%;
  max-height: 8vh;
  overflow-y: scroll;
  margin: 0.5rem;
  //-ms-overflow-style: none;
  //scrollbar-width: none;
}

.scroll-items::-webkit-scrollbar {
  width: 4px;
}

.scroll-items::-webkit-scrollbar-track {
  background: #f3f3f3;
  border-radius: 10px;
}

/* Handle */
.scroll-items::-webkit-scrollbar-thumb {
  background: #ddd6f3;
  border-radius: 10px;
}

/* Handle on hover */
.scroll-items::-webkit-scrollbar-thumb:hover {
  background: rgb(97, 59, 128);
  border-radius: 10px;
}

.list-button {
  font-size: 1em;
  width: 3.5rem;
}

.add-item-button {
  background-color: #faaca8;
  background-image: linear-gradient(199deg, #faaca8 0%, #ddd6f3 100%);
  color: white;
  font-weight: 400;
  //margin: 0 auto;
  align-self: flex-end;
}

.add-item-button:hover {
  box-shadow: 0 0 20px rgba(221, 214, 243, 0.5);
}

.loading-style {
  color: #faaca8;
  font-size: 5em;
}

.header-button {
  width: 10em;
}
.list-container-title {
  background: -webkit-linear-gradient(199deg, #faaca8 0%, #ddd6f3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 20px rgba(206, 203, 212, 0.5);
  text-align: center;
}

.select-add-list {
  margin: 0 0 1rem 0;
}

.text-modal {
  color: white;
  margin-bottom: 0.5rem;
}

.modal-title {
  color: white;
  text-transform: uppercase;
}

.tag {
  border-radius: 5px;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  color: #683a38;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: small;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 1.5rem 0;
}

.tagInput {
  margin-top: 1rem;
}

.selected {
  max-width: 500px;
  display: flex;
  flex-flow: row wrap;
}

.tags {
  max-width: 100%;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
}

.removeTag {
  color: red;
  margin: 0.2rem;
  font-size: 1.1em;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0.3rem;
}

.item {
  margin: 0.2rem 0 0 0.2rem;
}
input[type="radio"] {
  border: 1px solid #faaca8;
}

input[type="radio"]:checked:before {
  content: "";
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #faaca8;
}

.MuiDialog-paper {
  width: 40vw;
}

.input-new-list,
.select-add-list {
  width: 28.5vw;
}
